.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  min-width: 100vw;
}

.body{
  flex: 8;
  margin-left: 10px;
  display: flex;
  flex-direction: row
}

.user-list{
  flex:3;
  display: flex;
  flex-direction: column;
}

.search-bar{
  border-radius: 25px;
  width: 300px;
  margin-top: 20px;
  padding-left: 10px;
}

.user-name{
  font-size: 15px;
  margin-bottom: 10px;
  width: 200px;
  background-color: #dae2ef;
  border-radius: 25px;
  padding-left: 10px;
}

.search-button{
  width: 150px;
  margin-top: 10px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.photos{
  flex:7;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.footer{
  flex:2;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}