.App {
  display: flex;
  text-align: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: white;
}

.Banner {
  flex: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  background-color: #98999b;
  width: 100vw;
}

.LatestBlock {
  flex: 1;
  padding-top: 5px;
  padding-bottom: 15px;
  margin-top: 20px;
  width: 80vw;
  background-color: #98999b;
}

.LatestBlockContents {
  display: flex;
  flex-direction: row;
}

.LatestLabelContent {
  padding-top: 25px;
  padding-bottom: 10px;
  flex: 1;
  font-weight: bold;
  font-size: 20px;
}

.DisplaySection {
  flex: 6;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 95vw;
  background-color: #98999b;

}

.TxView {
  display:flex;
  flex-direction: row;
  height: 100%;
}

.Txs {
  flex: 2;
}

.TxsDetail{
  flex: 6;
  background-color: #4b4d4f;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
}

.ActionButton{
  border-radius: 50px;
  width: 150px;
  height: 50px;
  background-color: white;
  font-weight: bold;
}